<h1 class="mat-display-1">Log In</h1>
<form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name:</label>
        <input class="form-control" type="name" name="name" id="name" formControlName="name" [ngClass]="errorMsg.includes('name') ? 'ng-invalid' : ''">
    </div>
    <hr>
    <div class="alert alert-danger" *ngIf="errorMsg">
        <p>{{ errorMsg }}</p>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userInfoForm.invalid">Log In</button>
</form>